.card{
    background-color:#FAEBD7;
    margin-left: 700px;
    margin-top: 200px;
    border: 5px #FAEBD7 solid;
   
}
.btn-primary{
    background-color: red;
    
}
@media only screen and (max-width:300px) {
        body{
            background-color: burlywood;
            flex-direction: column;
        }
        .card{
            flex-direction: column;
        }
    
}
.card:hover{
    box-shadow: 0 0 6px black;
    
    
}
